* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    background-color: #EBF2FA;

}

.header {
    background-color: #064789;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-bar {
    flex: 1;
}

.ul-nav{
    background-color: #064789;
}

.ul-nav li a {
    color: whitesmoke;
}
.link {
    color: whitesmoke;
}
.links{
    color: whitesmoke;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
}


.links li a {
    text-decoration: none;
}

.title {
    font-family: "stick no bills", Arial;
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
}

.sub-title {
    font-weight: bold;
}
.hero {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex: 1;
}

.hero-title {
    font-size: 20px;
    font-weight: bold;
}

.para {
    font-size: 18px;
    text-align: justify;
}

.img-container {
    flex: 1;
}
.img-container img {
    width: 100%;
    border-radius: 50px 5px 50px 5px;
}

.img-caption {
    margin-top: 10px;
    color: #aca8a8;
}

.icon {
    width: 48px;
}

.special-btn {
    width: 400px;
    margin: 0 auto;
    padding: 8px 20px;
}

.footer {
    margin-top: 10px;
    background-color: #064789;
    text-align: center;
   font-size: medium;
   color: #F4F4F4;
}